.community-search-container {
    position: fixed; /* 画面右に固定 */
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh; /* 上から下まで表示 */
    margin: 0; /* マージンを 0 に設定 */
    z-index: 1000;
    border-left: 2px solid #e6ecf0; /* 右の境界線 */
    background-color: #fff;
    padding: 20px; /* 内側の余白 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.community-search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1e8ed;
    border-radius: 20px;
    background-color: #ffffff;
    color: #14171a;
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.community-search-input::placeholder {
    color: #657786;
}

.community-search-results {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    border-radius: 10px;
    background-color: #ffffff;
    /*max-height: 300px; !* 結果リストの高さ制限 *!*/
    overflow-y: auto; /* スクロール可能に */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.community-search-result-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex; /* フレックスレイアウト */
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
}

.community-search-result-item:last-child {
    border-bottom: none; /* 最後のアイテムにボーダーなし */
}

.community-search-result-item:hover {
    background-color: #f5f8fa;
}

.community-search-profile-image {
    width: 30px; /* プロフィール画像のサイズ */
    height: 30px;
    border-radius: 50%; /* 丸くする */
    margin-right: 10px; /* 画像とテキストの間の余白 */
}

.community-search-name {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    color: #14171a;
}

.CommunityContent {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    color: #14171a;
    justify-content: space-between;
    margin: auto;
}

.CommunitysBOX {
    display: flex;
    flex-direction: column;      /* 子要素が縦に並ぶように設定 */
    align-items: center;
    gap: 15px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease;
}
