/* sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #e6ecf0;
    position: fixed; /* サイドバーを固定 */
    top: 0; /* 上部に配置 */
    left: 0; /* 左側に配置 */
    z-index: 1000; /* 他の要素の上に表示 */
}

.button-container {
    margin-top: 60px; /* ロゴボタンのスペース */
}

.logo-button {
    font-size: 24px;
    font-weight: bold;
    color: #1da1f2; /* ロゴの色 */
    background: none;
    border: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-button-container {
    display: flex;
    align-items: center;
}

.sidebar-button {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333; /* 通常のボタンの色 */
    margin-left: 15px;
    padding: 10px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.sidebar-button:hover {
    background-color: rgba(29, 161, 242, 0.1); /* ホバー時の背景色 */
}

.sidebar-button.active {
    color: #1da1f2; /* アクティブなボタンの色 */
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #e6ecf0;
    margin: 20px 0;
}

svg {
    fill: #333; /* 通常のアイコンの色 */
    width: 24px;
    height: 24px;
}

.sidebar-button.active svg,
.sidebar-button:hover svg {
    fill: #1da1f2; /* アクティブなボタンとホバー時のアイコンの色 */
}
