/* 投稿リストを中央に配置 */

.continer {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 100vh;
  margin-left: 500px;
}
.post_all {
  width: 100%;
  max-Width: 600px;
}
.single_post {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}
.post_icon_name {
  display: flex;
  align-items: center;
}
.post_name {
  font-weight: bold;
}
.post_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.post_name_distance {
  margin-left: auto;
  position: relative;
}
.post_delete {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
  cursor: pointer;
}
.post_nice_comment {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.post_delete_confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}